<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://vignette2.wikia.nocookie.net/cityville/images/9/99/Car_Inferno.png/revision/latest?cb=20120719005825">

    <title>CarManiacs {% block title %}How to Tango with Django!{% endblock %}</title>
  
  </head>
   

<ul>
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'news' %}">News</a></li>
<li><a href="{% url 'manufacturers' %}">Manufacturers</a></li>
<li><a href="{% url 'top_rated' %}">Users' favourites</a></li>
<li><a href="{% url 'new_cars' %}">New Cars</a></li>
<li><a href="{% url 'compare' %}">Compare</a></li>
       {% if user.is_authenticated %}
           <li><a href="{% url 'auth_logout' %}?next=/carwebsite/">Logout</a></li>
       {% else %}
            <li><a href="{% url 'registration_register' %}">Register Here</a></li>
            <li><a href="{% url 'auth_login' %}">Login</a></li>
       {% endif %}
</ul>

{% block body_block %}{% endblock %}

</html>