{% extends 'carwebsite/base.html' %}

{% load staticfiles %}

{% block title %}{{ manufacturer_name }} {{model_name}}{% endblock %}

{% block body_block %}
	<!--- 
	Speed: {{model.speed}}
	Acceleration: {{model.acceleration}}
	Handling: {{model.handling}}
	Security: {{model.security}}
	Average: {{model.averageRatings}}
	-->
	<script>
	customOnload = function(){

	$(document).ready(function() { 

		var manufacturer1_name = "{{ manufacturer1_name }}"; 
		var manufacturer2_name = "{{ manufacturer2_name }}";
		var model1_name = "{{ model1_name }}"; 
		var model2_name = "{{ model2_name }}"; 
		
		if(manufacturer1_name == "" || manufacturer2_name == ""){		
			$('#select_manufacturer')
				.find('option')
				.remove()
				.end(); 
			$('#select_model')
				.find('option')
				.remove()
				.end(); 
			$("#select_manufacturer").append('<option value="">--</option>');
			$.ajax({
			  type: 'GET',
			  url: '/get_manufacturers',
			  dataType: 'json',
			  success: function(jsonData) {
				$.each(jsonData,function(key, value) 
				{
					$("#select_manufacturer").append('<option value=' + value["slug"] + '>' + value["name"] + '</option>');
				});
			  },
			  error: function() {
			  }
			});
		}
		$( "#select_manufacturer" ).change(function() {
			$('#select_model')
				.find('option')
				.remove()
				.end(); 
			$("#select_model").append('<option value="">--</option>');
			if($( "#select_manufacturer" ).val() == ""){

			} else {
			  $.ajax({
				  type: 'GET',
				  url: '/get_models/' + $( "#select_manufacturer" ).val() + "/",
				  dataType: 'json',
				  success: function(jsonData) {
					$.each(jsonData,function(key, value) 
					{
						$("#select_model").append('<option value=' + value["slug"] + '>' + value["title"] + '</option>');
					});
				  },
				  error: function() {
				  }
				});
			}
		});
		$( "#select_model" ).change(function() {
			if(! $( "#select_model" ).val() == ""){
				var temp; 
				if(window.location.href.slice(-1) == "/"){
					temp = "";
				} else {
					temp = "/"
				}
				window.location += temp + $( "#select_manufacturer" ).val() + "/" + $( "#select_model" ).val() + "/";
			}
		});
	 });
	 }
	</script>
	
    <h1 style="color:white;">Comparing {{ manufacturer1_name }} {{ model1_name }} {%if manufacturer2_name %} and {{ manufacturer2_name }} {{ model2_name }}{% endif %}</h1>
	<table><tr><td style="vertical-align:top">
	
    {% if manufacturer1 %}
        {% if model1 %}
                  <!--
                 {%if model.picture%}
                       <img width="360" height="200" src="/{{model.picture.url}}">
                  
                 {% endif %}
                 -->
        <ul class="list-group ">
                    {%if model1.picture%}
                               <li class="list-group-item" style="background:gray;"><img height="200" src="/{{model1.picture.url}}"></li>
                    {% else %}
                                <li class="list-group-item">No picture available</li>
                    {% endif %}
                    <li class="list-group-item">Model: {{model1.title}}</li>
                    
                    <li 
                     {%if model2 and model1.speed < model2.speed%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Speed: 
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="speed1Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    
                    </li>
                   
                    <li 
                     {%if model2 and model1.acceleration < model2.acceleration%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Acceleration: 
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="acceleration1Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li 
                     {%if model2 and model1.handling < model2.handling%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                     Handling: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="handling1Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li 
                     {%if model2 and model1.security < model2.security%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Security: <span class="stars">
                	<span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="security1Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    </li>
                    <li 
                     {%if model2 and model1.averageRatings < model2.averageRatings%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Average ratings: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="averageRatings1Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</span></li>
                    <li 
                     {%if model2 and model1.price > model2.price%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Price: {{model1.price}}</li>
                    <li 
                     {%if model2 and model1.dateOfRelease < model2.dateOfRelease%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Date of release: {{model1.dateOfRelease}}</li>
                    <li class="list-group-item">Got one?<br/><a href="{% url 'rate' model1.manufacturer.slug  model1.slug %}">Click here to review this car.</a></li>
           
                    
                </ul>
        {% else %}
                <h3 style="color:white;">Model does not exist</h3>
        {% endif %}
    {% endif %}         
    
    </td><td style="vertical-align:top">

    {% if manufacturer2 %}
        {% if model2 %}
                  <!--
                 {%if model.picture%}
                       <img width="360" height="200" src="/{{model.picture.url}}">
                  
                 {% endif %}
                 -->
        <ul class="list-group">
                    {%if model2.picture%}
                               <li class="list-group-item" style="background:gray;"><img height="200" src="/{{model2.picture.url}}"></li>
                    {% else %}
                                <li class="list-group-item">No picture available</li>
                    {% endif %}
                    <li class="list-group-item">Model: {{model2.title}}</li>
                    <li 
                     {%if model1.speed > model2.speed%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Speed: 
                    
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="speed2Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    
                    </li>
                    <li 
                     {%if model1.acceleration > model2.acceleration%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Acceleration: 
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="acceleration2Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li 
                     {%if model1.handling > model2.handling%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                     Handling: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="handling2Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li 
                     {%if model1.security > model2.security%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Security: <span class="stars">
                	<span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="security2Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    </li>
                    <li 
                     {%if model1.averageRatings > model2.averageRatings%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Average ratings: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="averageRatings2Stars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</span></li>
                    <li 
                     {%if model1.price < model2.price%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">Price: {{model2.price}}</li>
                    <li 
                     {%if model1.dateOfRelease > model2.dateOfRelease%}
                    style="background-color: #AAAAAA;" 
                    {%endif%}
                    class="list-group-item">
                    Date of release: {{model2.dateOfRelease}}</li>
                    <li class="list-group-item">Got one?<br/><a href="{% url 'rate' model2.manufacturer.slug  model2.slug %}">Click here to review this car.</a></li>
           
                    
                </ul>
        {% else %}
                <h3 style="color:white;">Model does not exist</h3>
        {% endif %}
    {% endif %}   
    
    
    
	{% if not manufacturer1 or not manufacturer2 %} 
	<ul class="list-group" style="min-width: 435px;">
		<li style="vertical-align:top" class="list-group-item"><h3>Choose a car!</h3></li>
		<li style="vertical-align:top" class="list-group-item">Manufacturer<br/>
		<select id="select_manufacturer"><option value="">--</option></select>
		</li>
		<li style="vertical-align:top" class="list-group-item">Model<br/>
		<select id="select_model"><option value="">--</option></select>
		</li>
	</ul>
	
	{% endif %}
    
    </td></tr></table>      
                
{% endblock %}