<!DOCTYPE html>
{% extends "carwebsite/base.html" %}

{% block title %}Ethics Statement {% endblock %}

{% block body_block %}
<div class="page-header">

<li class="list-group-item">
Car-Manics operate under the following ethics policy: 
<h2>We don’t sell cars. </h2>
We’re not a car manufacturer and we’re not affiliated with car manufacturers. 

<h2>We don’t take money from car manufacturers. </h2>
We do not accept money or other consideration from companies to modify reviews or otherwise manipulate content, whether favorable or unfavorable. All reviews are from actual users. 

<h2>We don't take free things from companies, or from their PR firms. </h2>
We do not accept meals, discounts, paid trips or gifts from companies or their PR representatives.

<h2>We don’t take reviews down. </h2>
We do not let ourselves be bullied into taking a review off. 

<h2>Our policies do not permit placements of advertorial.</h2>

<h2>Advertising </h2>
There may not be advertisements from car manufacturers or resellers on Car-Maniacs. 

<h2>Affiliate & Marketing links</h2>
Our website may contain affiliate marketing links, which means we may be paid commission on sales of those products or services our users cover. Those links are generated independently, and reviews are never influenced by advertisers or affiliate partnerships.
</li>
</div>
{% endblock %}