<!DOCTYPE html>
{% extends "carwebsite/base.html" %}

{% block title %}Home {% endblock %}

{% block body_block %}
<div class="page-header" style="color:white;">
            {% if user.is_authenticated %}
                <h1>Welcome to CarManiacs, {{ user.username }}</h1>
            {% else %}
                <h1>Welcome to CarManiacs</h1>
            {% endif %}
            
            <h4>This is a simple star-based car review site where you can tell what you think about your car and read what others think about theirs. <h4/>
            <h5>We pride ourselves on being unbiased. <a style="color: #dddddd;" href="{% url 'ethics' %}">Click here to read our ethics statement. </a></h5>
</div>

        {% if news %}
        <ul class="list-group" style="min-height: 150;">
                {% for item in news %}
                	{% if item.show %}
                        <li class="list-group-item">
                         {% if item.picture %}
                        <img align="right" height="150" style="display:inline;"  src="/{{item.picture.url}}">
                        {% endif %}
                        
                        <h2>{{item.title}}</h2>{{item.intro}} <br/><br/><a href="{{item.link}}">Click here to read more!</a>
                       
                        </li>
                    {% endif %}
                {% endfor %}
        </ul>
		{% endif %}



{% endblock %}