{% extends 'carwebsite/base.html' %}

{% load staticfiles %}

{% block title %}{{ manufacturer_name }}{% endblock %}

{% block body_block %}
    <h1 style="color:white;">{{ manufacturer_name }}</h1>
    <hr/>
    {% if manufacturer %}
        {% if models %}
        <ul class="list-group">
                   {%if manufacturer.picture%}
                               <li class="list-group-item" style="background:gray;"><img width="400" height="200" src="/{{manufacturer.picture.url}}"></li>
                    {% endif %}
            {% for model in  models %} 
                    <li class="list-group-item"><a href="{% url 'model' manufacturer.slug model.slug %}">{{model.title}}</a></li>
            {% endfor %}        
                </ul>
        {% else %}
                <strong>No models registered for this manufacturer.</strong>
        {% endif %}
    {% else %}
         <strong>Manufacturer is not registered.</strong>  
    {% endif %}         
                

{% endblock %}