{% extends 'carwebsite/base.html' %}

{% load staticfiles %}

{% block title %}{{ manufacturer_name }}{% endblock %}

{% block body_block %}
    {% if manufacturer %}
        {% if models %}
        <ul style="max-width: 435px;" class="list-group">
                   {%if manufacturer.picture%}
                               <li class="list-group-item" style="background:gray;"><img style="max-width: 100%;" src="/{{manufacturer.picture.url}}"></li>
                    {% endif %}
            {% for model in  models %} 
                    <li class="list-group-item"><a href="{% url 'model' manufacturer.slug model.slug %}">{{model.title}}</a></li>
            {% endfor %}        
                </ul>
        {% else %}
               <h3 style="color:white;">No models registered for this manufacturer.</h3>
        {% endif %}
    {% else %}
    	 <h1 style="color:white;">Manufacturers</h1>
	
    	<ul style="max-width: 435px;" class="list-group">
    	<li class="list-group-item">
    	
		{% load carwebsite_extras %}
		{% get_manufacturer_list manufacturer %}
    	</li>
    	</ul>
    {% endif %}         
                

{% endblock %}