{% extends 'carwebsite/base.html' %}

{% load staticfiles %}

{% block title %}{{ manufacturer_name }} {{model_name}}{% endblock %}

{% block body_block %}
	<!--- 
	Speed: {{model.speed}}
	Acceleration: {{model.acceleration}}
	Handling: {{model.handling}}
	Security: {{model.security}}
	Average: {{model.averageRatings}}
	-->
	<script>
	customOnload = function(){
		$("[name='speedStars']").css('width',({{model.speed}}*10).toString() + "%");
		$("[name='accelerationStars']").css('width',({{model.acceleration}}*10).toString() + "%");
		$("[name='handlingStars']").css('width',({{model.handling}}*10).toString() + "%");
		$("[name='securityStars']").css('width',({{model.security}}*10).toString() + "%");
		$("[name='averageRatingsStars']").css('width',({{model.averageRatings}}*10).toString() + "%");
	}
	</script>
    <h1 style="color:white;">{{ manufacturer_name }}</h1>
    {% if rated %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong><br/>
        We've received your ratings!
    </div>
    {% endif %}
    {% if manufacturer %}
        {% if model %}
                  <!--
                 {%if model.picture%}
                       <img width="360" height="200" src="/{{model.picture.url}}">
                  
                 {% endif %}
                 -->
        <ul class="list-group">
                    {%if model.picture%}
                               <li class="list-group-item" style="background:gray;"><img width="400" height="200" src="/{{model.picture.url}}"></li>
                    {% else %}
                                <li class="list-group-item">No picture available</li>
                    {% endif %}
                    <li class="list-group-item">Model:{{model.title}}</li>
                    <li class="list-group-item">Speed: 
                    
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="speedStars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    
                    </li>
                    <li class="list-group-item">Acceleration: 
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="accelerationStars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li class="list-group-item"> Handling: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="handlingStars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</li>
                    <li class="list-group-item">Security: <span class="stars">
                	<span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="securityStars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
                    </li>
                    <li class="list-group-item">Average ratings: <span class="stars">
                    <span style="display: block; width: 130px; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 0;">
				    <span name="averageRatingsStars" style="display: block; width: 0; height: 13px; background: url(/static/images/star-rating-sprite.png) 0 -13px;"></span>
					</span>
					</span></li>
                    <li class="list-group-item">Price: {{model.price}}</li>
                    <li class="list-group-item">Date of release: {{model.dateOfRelease}}</li>
                    <li class="list-group-item">Got one?<br/><a href="{% url 'rate' model.manufacturer.slug  model.slug %}">Click here to review this car.</a></li>
           
                    
                </ul>
        {% else %}
                <h3 style="color:white;">Model does not exist</h3>
        {% endif %}
    {% else %}
         <h3 style="color:white;">Manufacturer is not registered.</h3>  
    {% endif %}         
                
{% endblock %}