<!DOCTYPE html>
{% extends "carwebsite/base.html" %}

{% block title %} New Cars {% endblock %}

{% block body_block %}

<h1 style="color:white;">New cars</h1>
<hr/>
        {% if newest %}
        <ul class="list-group">
                {% for car in newest %}
                        <li class="list-group-item"><a href="{% url 'model' car.manufacturer.slug  car.slug %} ">{{car.manufacturer.name}} {{car.title}} (Released on {{car.dateOfRelease}})</a></li>
                {% endfor %}
                </ul>
        {% else %}
                <strong>No cars currently in the database</strong>
    {% endif %}
                
{% endblock %}