<!DOCTYPE html>
{% extends "carwebsite/base.html" %}

{% block title %} Top Cars {% endblock %}

{% block body_block %}

<h1 style="color:white;">Favourite cars</h1>
 <hr/>
        {% if favourites %}
        <ul style="max-width: 435px;" class="list-group">
                {% for model in favourites %}
                        <li class="list-group-item"><a href="{% url 'model' model.manufacturer.slug  model.slug %} ">{{model.manufacturer.name}} {{model.title}} - {{model.averageRatings}}<br/>
                        {%if model.picture%}
                        <img style="max-width: 400px;" src="/{{model.picture.url}}">
	                    {% endif %}
                        
                        </a></li>
                {% endfor %}
                </ul>
        {% else %}
                <strong>No cars currently in the database</strong>
    {% endif %}
                
{% endblock %}